.recipePage .instructions-section__fieldset, .recipePage .ingredients-section__fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}
body {
    background-color: #fff;
    color: rgba(0,0,0,.95);
    font-family: "Source Sans Pro",sans-serif;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}